@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.primaryButton {
    color: white;
    background-color: #4277FF;
    padding: 1em;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    border-radius: 8px;
}

.primaryButton:hover {
    transition: 0.1s ease-in-out;
    background-color: #0038C9;
}

.secondaryButton {
    background-color: white;
    padding: 1em;
    font-family: "Ubuntu", sans-serif;
    color: #4277FF;
    border: #4277FF solid;
    text-decoration: none;
    border-radius: 8px;
    border-width: 2px;
}

.secondaryButton:hover {
    transition: 0.1s ease-in-out;
    background-color: #DAE5FF;
}

.logo {
    float: left;
}


.tagline {
    width: 32%;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.input {
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
    font-size: medium;
    border-radius: 8px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-right: 1em;
    box-shadow: 12px 24px 120px rgb(236, 236, 236);
}

.input::placeholder {
    color: rgb(207, 207, 207);
}

.header {
    padding-top: 2.1em;
    margin: auto;
    padding: 2.1em;
    overflow: hidden;
}

.option {
    text-decoration: none;
    color: black;
    font-family: "Ubuntu", sans-serif;
    transition: 0.1s ease-in-out;
}

.option:hover {
    color: #4277FF;
}

.header_option {
    margin-left: 1.2em;
    margin-right: 1.2em;
}

@media screen and (max-width: 700px) {
    .header {
        text-align: center;
        align-items: center;
    }
    #right-section, #left-section {
        float: none;
        text-align: center;
    }
    .section {
        text-align: center;
    }
    .tagline {
        text-align: center;
        margin: auto;
        width: 60%;
    }
    #email-input {
        text-align: center;
        align-items: center;
        position: absolute;
    }
    .input {
        text-align: center;
        align-items: center;
    }
    .emailButton {
        text-align: center;
        align-items: center;
        line-break: auto;
    }
    .tag {
        margin: auto;
    }
}

.bg-red {
    background-color: rgb(241, 62, 116);
    color: white;
}

.bg-purple {
    background-color: #0038C9;
    color: white;
}

.bg-dark {
    color: white;
    background-color: black;
}

.tag {
    padding-right: 8px;
    padding-left: 8px;
    font-family: "Ubuntu", sans-serif;
    border-radius: 3px;
    padding-bottom: 1px;
    margin-right: 0.4em;
}